spring:
  profiles:
    group:
      local:
        - jwt
        - s3
        - oauth
        - local
        - mail
      prod:
        - prod
#    active: local
    active: ${profile}
  devtools:
    livereload:
      enabled: true
  restart:
    enabled: true







