<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <!--    /oauth2/authorization/google 이거는 내마음대로 바꾸는 것이 아니라 고정이다.
        google api 센터에서 리디렉션 URI를 고정으로 쓰는 것처럼 말이다.
        ex) http://localhost:8080/login/oauth2/code/google -->
    <a id="google-login" href="/oauth2/authorization/google">구글 로그인</a>
    <!-- 이걸 클릭하면 https://nid.naver.com/oauth2.0/authorize 여기로 보내짐-->
    <a id="naver-login" href="/oauth2/authorization/naver">네이버 로그인</a>
</div>

</body>
</html>